{% extends 'base.html.twig' %}

{% block title %}Formateurs index{% endblock %}

{% block body %}
    <h1>Formateurs index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Date de naissance</th>
                <th>Numéro de Téléphone</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for formateur in formateurs %}
            <tr>
                <td>{{ user.nomUser }}</td>
                <td>{{ user.prenomUser }}</td>
                <td>{{ user.ddnUser ? user.ddnUser|date('Y-m-d') : '' }}</td>
                <td>{{ user.numTelUser }}</td>
                <td>
                    <a href="{{ path('app_formateurs_show', {'id': formateur.id}) }}">show</a>
                    <a href="{{ path('app_formateurs_edit', {'id': formateur.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_formateurs_new') }}">Create new</a>
{% endblock %}
