{% extends 'base.html.twig' %}

{% block title %}Formations index{% endblock %}

{% block body %}
    <h1>Formations</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Sigle</th>
                <th>Intitule</th>
                <th>Code titre</th>
                <th>Millesime</th>
                <th>Date de parution</th>
                <th>Nomenclature des spécialités</th>
                <th>Code ROME</th>
                <th>Date de Fin de Validité Aggrement</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for formation in formations %}
            <tr>
                <td>{{ formation.sigleFormation }}</td>
                <td>{{ formation.intituleFormation }}</td>
                <td>{{ formation.codeTitreFormation }}</td>
                <td>{{ formation.millesimeFormation ? formation.millesimeFormation|date('Y-m-d') : '' }}</td>
                <td>{{ formation.dateParutionFormation ? formation.dateParutionFormation|date('Y-m-d') : '' }}</td>
                <td>{{ formation.nsfFormation }}</td>
                <td>{{ formation.romeFormation }}</td>
                <td>{{ formation.dateFinValdteAggrmtFormation ? formation.dateFinValdteAggrmtFormation|date('Y-m-d') : '' }}</td>
                <td>
                    <a class="buttonSansOmbre" href="{{ path('app_formations_Voir', {'id': formation.id}) }}">Voir</a>
                    <a class="buttonSansOmbre" href="{{ path('app_formations_Editer', {'id': formation.id}) }}">Editer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">Aucun enregistrement trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="button" href="{{ path('app_formations_new') }}">Nouveau</a>
{% endblock %}
