{% extends 'base.html.twig' %}

{% block title %}Formations{% endblock %}

{% block body %}
    <h1>Formations</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ formation.id }}</td>
            </tr>
            <tr>
                <th>Sigle</th>
                <td>{{ formation.sigleFormation }}</td>
            </tr>
            <tr>
                <th>Intitule</th>
                <td>{{ formation.intituleFormation }}</td>
            </tr>
            <tr>
                <th>Code titre</th>
                <td>{{ formation.codeTitreFormation }}</td>
            </tr>
            <tr>
                <th>Millesime</th>
                <td>{{ formation.millesimeFormation ? formation.millesimeFormation|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Date de parution</th>
                <td>{{ formation.dateParutionFormation ? formation.dateParutionFormation|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Nomenclature des spécialités</th>
                <td>{{ formation.nsfFormation }}</td>
            </tr>
            <tr>
                <th>Code ROME</th>
                <td>{{ formation.romeFormation }}</td>
            </tr>
            <tr>
                <th>Date de Fin de Validité Aggrement</th>
                <td>{{ formation.dateFinValdteAggrmtFormation ? formation.dateFinValdteAggrmtFormation|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a class"button" href="{{ path('app_formations_index') }}">Retour à la liste</a>

    <a class"buttonSansOmbre" href="{{ path('app_formations_Editer', {'id': formation.id}) }}">Editer</a>

    {{ include('formations/_delete_form.html.twig') }}
{% endblock %}
