{% extends 'base.html.twig' %}

{% block title %}Utilisateur{% endblock %}

{% block body %}
    <h1>User index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Adresse Email</th>
                <th>Roles</th>
                <th>Mot de passe</th>
                <th>est Verifié</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.emailUser }}</td>
                <td>{{ user.alternants }}</td>
                {# user.roles ? user.roles|json_encode : '' #}
                <td>{{ user.password }}</td>
                <td>{{ user.isVerified ? 'Yes' : 'No' }}</td>
                <td>
                    <a class="button" href="{{ path('app_user_Voir', {'id': user.id}) }}">Voir</a>
                    <a class="button" href="{{ path('app_user_Editer', {'id': user.id}) }}">Editer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="12">Aucun enregistrement trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="button" href="{{ path('app_user_new') }}">Nouveau</a>
{% endblock %}
