{% extends 'base.html.twig' %}

{% block title %}Evenements index{% endblock %}

{% block body %}
    <h1>Evenements index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Heure de l'évenement</th>
                <th>Date de l'évenement</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for evenement in evenements %}
            <tr>
                <td>{{ evenement.heureEvenement ? evenement.heureEvenement|date('H:i:s') : '' }}</td>
                <td>{{ evenement.dateEvenement ? evenement.dateEvenement|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('app_evenements_show', {'id': evenement.id}) }}">show</a>
                    <a href="{{ path('app_evenements_edit', {'id': evenement.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_evenements_new') }}">Create new</a>
{% endblock %}
