{% extends 'base.html.twig' %}

{% block title %}Formations{% endblock %}

{% block body %}
    <h1>Formations</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ formation.id }}</td>
            </tr>
            <tr>
                <th>SigleFormation</th>
                <td>{{ formation.sigleFormation }}</td>
            </tr>
            <tr>
                <th>IntituleFormation</th>
                <td>{{ formation.intituleFormation }}</td>
            </tr>
            <tr>
                <th>CodeTitreFormation</th>
                <td>{{ formation.codeTitreFormation }}</td>
            </tr>
            <tr>
                <th>MillesimeFormation</th>
                <td>{{ formation.millesimeFormation ? formation.millesimeFormation|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>DateParutionFormation</th>
                <td>{{ formation.dateParutionFormation ? formation.dateParutionFormation|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>NsfFormation</th>
                <td>{{ formation.nsfFormation }}</td>
            </tr>
            <tr>
                <th>RomeFormation</th>
                <td>{{ formation.romeFormation }}</td>
            </tr>
            <tr>
                <th>DateFinValdteAggrmentFormation</th>
                <td>{{ formation.dateFinValdteAggrmentFormation ? formation.dateFinValdteAggrmentFormation|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_formations_index') }}">back to list</a>

    <a href="{{ path('app_formations_edit', {'id': formation.id}) }}">edit</a>

    {{ include('formations/_delete_form.html.twig') }}
{% endblock %}
