{% extends 'base.html.twig' %}

{% block title %}Centres index{% endblock %}

{% block body %}
    <h1>Centres index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Nom du centre</th>
                <th>Adresse du centre</th>
                <th>Complement d'adresse du centre</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for centre in centres %}
            <tr>
                <td>{{ centre.nomCentre }}</td>
                <td>{{ centre.adresseCentre }}</td>
                <td>{{ centre.compltAdresseCentre }}</td>
                <td>
                    <a class="button" href="{{ path('app_centres_Voir', {'id': centre.id}) }}">Voir</a>
                    <a class="button" href="{{ path('app_centres_Editer', {'id': centre.id}) }}">Editer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Aucun enregistrement trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="button" href="{{ path('app_centres_new') }}">Nouveau</a>
{% endblock %}
