{% extends 'base.html.twig' %}

{% block title %}Centres{% endblock %}

{% block body %}
    <h1>Centres</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Identifiant du centre</th>
                <td>{{ centre.id }}</td>
            </tr>
            <tr>
                <th>Adresse du centre</th>
                <td>{{ centre.adresseCentre }}</td>
            </tr>
            <tr>
                <th>Complement d'adresse du centre</th>
                <td>{{ centre.compltAdresseCentre }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_centres_index') }}">back to list</a>

    <a href="{{ path('app_centres_edit', {'id': centre.id}) }}">edit</a>

    {{ include('centres/_delete_form.html.twig') }}
{% endblock %}
