{% extends 'base.html.twig' %}

{% block title %}Absences{% endblock %}

{% block body %}
    <h1>Absences</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Identifiant de l'absence</th>
                <td>{{ absence.id }}</td>
            </tr>
            <tr>
                <th>Date de l'absence</th>
                <td>{{ absence.dateAbsence ? absence.dateAbsence|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Nombre d'heure d'absence</th>
                <td>{{ absence.nbrHeureAbsence }}</td>
            </tr>
        </tbody>
    </table>

    <a class="button" href="{{ path('app_absences_index') }}">Retour à la liste</a>

    <a class="button" href="{{ path('app_absences_edit', {'id': absence.id}) }}">Editer</a>

    {{ include('absences/_delete_form.html.twig') }}
{% endblock %}
