{% extends 'base.html.twig' %}

{% block title %}Alternants index{% endblock %}

{% block body %}
    <h1>Alternants index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Date de naissance</th>
                <th>Adresse</th>
                <th>Complément d'Adresse</th>
                <th>Numéro de Téléphone</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for alternant in alternants %}
            <tr>
                <td>{{ user.nomUser }}</td>
                <td>{{ user.prenomUser }}</td>
                <td>{{ user.ddnUser ? user.ddnUser|date('Y-m-d') : '' }}</td>
                <td>{{ user.adresseUser }}</td>
                <td>{{ user.compltAdresseUser }}</td>
                <td>{{ user.numTelUser }}</td>
                <td>
                    <a href="{{ path('app_alternants_show', {'id': alternant.id}) }}">show</a>
                    <a href="{{ path('app_alternants_edit', {'id': alternant.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_alternants_new') }}">Create new</a>
{% endblock %}
