{% extends 'base.html.twig' %}

{% block title %}Tuteurs index{% endblock %}

{% block body %}
    <h1>Tuteurs index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Date de naissance</th>
                <th>Numéro de Téléphone</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for tuteur in tuteurs %}
            <tr>
                <td>{{ user.nomUser }}</td>
                <td>{{ user.prenomUser }}</td>
                <td>{{ user.ddnUser ? user.ddnUser|date('Y-m-d') : '' }}</td>
                <td>{{ user.numTelUser }}</td>
                <td>
                    <a class="button" href="{{ path('app_tuteurs_Voir', {'id': tuteur.id}) }}">Voir</a>
                    <a class="button" href="{{ path('app_tuteurs_Editer', {'id': tuteur.id}) }}">Editer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">Aucun enregistrement trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="button" href="{{ path('app_tuteurs_new') }}">Nouveau</a>
{% endblock %}
