{% extends 'base.html.twig' %}

{% block title %}LieuxEvenement{% endblock %}

{% block body %}
    <h1>LieuxEvenement</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ lieux_evenement.id }}</td>
            </tr>
            <tr>
                <th>LibelleLieuEvenement</th>
                <td>{{ lieux_evenement.libelleLieuEvenement }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_lieux_evenement_index') }}">back to list</a>

    <a href="{{ path('app_lieux_evenement_edit', {'id': lieux_evenement.id}) }}">edit</a>

    {{ include('lieux_evenement/_delete_form.html.twig') }}
{% endblock %}
