<<<<<<< HEAD
<nav class="colonne">
	<div class="espacePetit"></div>
	<div class="flex1Demi">
        <a href={{ path('app_comptes') }}>Comptes</a>
	</div>
	<div class="espacePetit"></div>
	<div class="flex1Demi">
        <a href={{ path('app_centres_et_formations') }}>Centres & Formations</a>
	</div>
	<div class="espacePetit"></div>
	<div class="flex1Demi">
        <a href={{ path('app_tableau_de_bord') }}>Tableau de bord</a>
	</div>
	<div class="espacePetit"></div>
	<div class="flex1Demi">
        <a href={{ path('app_informations_generales') }}>Informations générales</a>
	</div>
	<div class="espacePetit"></div>
	<div class="flex1Demi">
        <a href={{ path('app_suivi_pedagogique') }}>Suivi pédagogique</a>
	</div>
	<div class="espacePetit"></div>
	<div class="flex1Demi">
        <a href={{ path('app_progression_pedagogique') }}>Progression pédagogique</a>
	</div>
	<div class="espacePetit"></div>
	<div class="flex1Demi">
        <a href={{ path('app_emploi_du_temps') }}>Emploi du temps</a>
	</div>
	<div class="espacePetit"></div>
	<div class="flex1Demi">
        <a href={{ path('app_faq') }}>FAQ</a>
	</div>
	<div class="espacePetit"></div>
	</nav>
=======
<ul>
    <li class="current first">
        <a href="#route_to/homepage">Home</a>
    </li>
    <li class="current_ancestor">
        <a href="#route_to/page_Voir/?id=42">About Me</a>
        <ul class="menu_level_1">
            <li class="current first last">
                <a href="#route_to/Editer_profile">Editer profile</a>
            </li>
        </ul>
    </li>
</ul>
>>>>>>> e3957b3f89d9b0aec8d78aa88414e54ce4d37621
