
<nav>

		<div class="espaceMini"></div>
		<div class="center">
			<a href={{ path('app_comptes') }}>Comptes</a>
		</div>
		<div class="espaceMini"></div>
		<div class="center">
			<a href={{ path('app_centres_et_formations') }}>Centres & Formations</a>
		</div>
		<div class="espaceMini"></div>
		<div class="center">
			<a href={{ path('app_tableau_de_bord') }}>Tableau de bord</a>
		</div>
		<div class="espaceMini"></div>
		<div class="center">
			<a href={{ path('app_informations_generales') }}>Informations générales</a>
		</div>
		<div class="espaceMini"></div>
		<div class="center">
			<a href={{ path('app_suivi_pedagogique') }}>Suivi pédagogique</a>
		</div>
		<div class="espaceMini"></div>
		<div class="center">
			<a href={{ path('app_progression_pedagogique') }}>Progression pédagogique</a>
		</div>
		<div class="espaceMini"></div>
		<div class="center">
			<a href={{ path('app_emploi_du_temps') }}>Emploi du temps</a>
		</div>
		<div class="espaceMini"></div>
		<div class="center">
			<a href={{ path('app_faq') }}>FAQ</a>
		</div>
		<div class="espaceMini"></div>
	
</nav>

